<template name="about">
  <div class="bg-content"> 
    <div id="content">
      <div id="container">
        <div class="row">
          <div style="padding-left:170px; min-height:400px;" class="container">
            <article class="span12">
              <h2>What is Artfric?</h2> 
            </article>
            <h3>
              Artfric is an online platform that showcases talented artwork by Africans. Our artists tell their stories through their work and gain recognition. 
            </h3>
            <h3>
              Are you an African artist? Would you like to share your story with the world? Then, send us a mail artfrik.gallery@gmail.com!
            </h3>
        </div>
      </div>
    </div>
  </div>
</div>
</template>