<template name="artists">
	<div class="bg-content">       
		<!--============================== content =================================-->      
		<div id="content">
			<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
			<div class="container">
				<div class="row">
					<div style="min-height:400px;">
						<article class="span12">
							<h3>Artists</h3>
						</article>
						<div class="clear"></div>
						<ul class="portfolio clearfix">         
							<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/Derek88.jpg"></a></li> 
							<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/EstherDel12.jpg"></a></li> 
							<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/BrightAckwerh1.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/TheoPencil01.jpg"></a></li> 
					<!--<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img5.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img6.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img7.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img8.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img9.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img10.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img11.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img12.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img13.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img14.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img15.jpg"></a></li> 
					<li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/page3-img16.jpg"></a></li>     -->                   
				</ul> 
			</div>
		</div>
	</div>
</div>
</div>

</template>