<template name="artists">
    {{> modal}}
	<div class="container-fluid bg-content">
        <div class="container" id="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                    <div class="row bottom-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="text-center">Artists</h3>
                        </div>
                    </div>   
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#" data-toggle="modal" data-target="#portfolioModal1" class="portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                </div>
                            </div>
                            <img src="/img/esther/EstherDel.jpg" class="img-responsive" alt=""> 
                        </a>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#portfolioModal1"><p id="artcont">Esther Delaquis-Baidoo</p></a>
                    </div>

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#" data-toggle="modal" data-target="#portfolioModal2" class="portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                </div>
                            </div>
                            <img src="/img/bright/bright.jpg" class="img-responsive" alt=""> 
                        </a>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#portfolioModal2"><p id="artcont">Bright Tetteh Ackwerh</p></a>
                    </div>

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#" data-toggle="modal" data-target="#portfolioModal3" class="portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                </div>
                            </div>
                            <img src="/img/derek/derek.jpg" class="img-responsive" alt="">
                        </a>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#portfolioModal3"><p id="artcont">Paa Yaw</p></a>
                    </div>

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#" data-toggle="modal" data-target="#portfolioModal4" class="portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                </div>
                            </div>
                            <img src="/img/theo/theo1.jpg" class="img-responsive" alt="">                          
                        </a>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#portfolioModal4"><p id="artcont">Theopencil</p></a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</template>