<template name="about">
  <div class="bg-content"> 
    <div id="content">
      <div id="container">
        <div class="row">
          <div style="padding-left:170px; min-height:400px;">
            <article class="span12">
              <h3>Our Story</h3>
              <p>this is our amazing story, our good days, bad days, hustle toils and successes</p>
            </article>
            <div class="clear"></div>
            <ul class="portfolio clearfix">
              <li>
                <h5> Email:</h5> <p>artfrik.gallery@gmail.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>