<template name="gallery">
	<div class="bg-content"> 

		<!--============================== content =================================-->

		<div id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
		<div class="container">
			<div class="row">
				<article class="span12">
					<h3>Gallery</h3>
				</article>
				<div class="clear"></div>
				<ul class="thumbnails thumbnails-1 list-services">
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art1.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
							{{> facebookButton}}
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art2.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
							{{> facebookButton}}
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art3.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
							{{> facebookButton}}
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art4.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art5.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art6.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail thumbnail-1"> <img  src="img/art7.jpg" alt="">
							<section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
								<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
							</section>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

</template>