<template name="gallery">
	<div class="bg-content"> 

		<!--============================== content =================================-->


		<div id="content">

			<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
			
			<div class="container">
				<div class="row">
					
					<article class="span12">
						<h3>Gallery</h3>
					</article>
					
					<div class="clear"></div>
					
					<ul class="thumbnails thumbnails-1 list-services">
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART1.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a> <!-- {{> rating}} -->
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
								<!-- {{> facebookButton}} -->
							</div>
						</li>

						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART2.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
								
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART3.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Bright Ackwerh</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
								
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART6.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Esther Delaquis</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART5.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Esther Delaquis </a>
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART4.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Esther Delaquis</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART9.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Esther Delaquis</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART18.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Bright Ackwerh</a>
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART8.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Esther Delaquis</a>
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART15.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Paa Yaw</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART11.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART12.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Paa Yaw</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART14.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART16.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Paa Yaw</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART17.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART24.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Paa Yaw</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART23.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a>
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART21.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Theo Pencil</a>
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART22.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Paa Yaw</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>
						
						<li class="span4">
							<div class="thumbnail thumbnail-1"> <img  src="img/ART28.jpg" alt="">
								<section> <a href="#" class="link-1">Art by Bright Ackwerh</a> 
									<p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
								</section>
							</div>
						</li>

					</ul>

				</div>

			</div>

		</div>

	</div>


</template>

<!-- <template name="rating">
	<button>Up This</button> <span style="color:#fff;">{{counter}}</span>
</template> -->