<template name="home">
  <div class="bg-content"> 
    <div id="content">
      <div id="container">
        <div class="row">
          <div style="padding-left:170px; min-height:400px;">
            <article class="span12">
              <h3>Home Page</h3>
            </article>
            <div class="clear"></div>
            <ul class="portfolio clearfix">
              <li>
                <p>This is the home page.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


