<head>
	<title>Artfric</title>
	
</head>
<template name="layout">
	{{> autoformModals}}
	{{> nav}}
	{{> plugins}}
	{{> yield}}
	{{> footer}}
</template>

<template name="nav">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
				<a href="{{pathFor 'home'}}"><img alt="" src="img/art.png" class="navimg"></a>
			</div>
				<a class="btn btn-navabr" data-toggle="collapse" data-targer=".nav-collapse_">Menu <span class="icon-bar"></span></a>
				<ul>
					<li class="box"><a href="{{pathFor 'home'}}"></a>Home</li>
					<li class="box"><a href="{{pathFor 'artists'}}"></a>Artists</li>
					<li class="box"><a href="{{pathFor 'gallery'}}"></a>Gallery</li>
					<li class="box"><a href="{{pathFor 'contact'}}"></a>Contact</li>
				</ul>
		</nav>
	</header>
</template>

<template name="footer">
	<footer>
		<div class="container clearfix">
			<ul class="list-social pull-right">
				<li><a class="icon-1" href="https://www.facebook.com/artfric"></a></li>
				<li><a class="icon-3" href="https://twitter.com/Artfricgallery"></a></li>
			</ul>
		</div>
	</footer>
</template>

