<template name="modal">
    <div class="portfolio-modal modal fade modalsize" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <h4>Esther's Profile</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Esther Delaquis-Baidoo</h5>
                        <img src="img/esther/EstherDel.jpg">
                        <p>
                        Esther is a Ghanaian born artist currently residing in Huston, Texas. She started painting and drawing at a very tender age. Her dad who is also an artist has been her source of influence and inspiration. She attended Kwame Nkrumah University of Science and Technology where she receieved a Bachelor of Fine Arts degree with a major in Painting. After her degree Esther left Ghana to pursue a Master of Fine Arts degree from Texas Tech University with a major in Painting and minor in Paintmaking.
                        Her work is exhibited widely around the world. Esther is currently working as an Assistant Professor of Art at Huston Baptist University in Huston, Texas.
                        </p>
                        <h5>Do you want to buy Esther's art? or Have her commission work for you?</h5>
                        <p>Contact her on </p>
                    </div>
                    <div class="col-md-8">
                        <h5>Esther's work</h5>
                        <img src="img/esther/Spiders.jpg" class="esther">
                        <img src="img/esther/foetuses.jpg" class="esther">
                        <img src="img/esther/fraternal.jpg" class="esther">
                        <img src="img/esther/metamorphosis.JPG" class="esther">
                        <img src="img/esther/rebirth.jpg" class="esther">
                        <img src="img/esther/webs and roots 2.jpg" class="esther">
                    </div> 
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade modalsize" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                 <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <h4>Bright's Profile</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Bright Tetteh Ackwerh</h5>
                        <img src="img/bright/bright.jpg">
                        <p>
                            Bright is english for the ewe name Kekle which means "to shine". He is from Totimerkope in Ada in the Greater Accra Region of Ghana. Bright believes that painting and art help serve the purpose of control. Bright says "When people are served p rt they are subconciously conditioned to think along certain lines." This is where his production intersects with the border field  of art practice and production. In his opinion it is a sort of advocacy for the philosophies he upholds and ever evolving art space. His assumed role is that of a cynical critique and tudent of life.
                        </p>
                        <h5>Do you want to buy Bright's art? or Have him commission work for you?</h5>
                        <p>Contact him on </p>
                        <p>Email: backwerh@yahoo.com </p>
                    </div>
                    <div class="col-md-8">
                        <h5>Bright's work</h5>
                        <img src="img/bright/1.jpg" class="esther">
                        <img src="img/bright/2.jpg" class="esther">
                        <img src="img/bright/3.jpg" class="esther">
                        <img src="img/bright/4.jpg" class="esther">
                        <img src="img/bright/5.jpg" class="esther">
                        <img src="img/bright/6.jpg" class="esther">
                        <img src="img/bright/7.jpg" class="esther">
                    </div> 
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade modalsize" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <h4>Paa's Profile</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Paa Yaw</h5>
                        <img src="img/derek/derek.jpg">
                        <p>
                            Paa Yaw whose real name is Derek Frimpong is a self-taught pencil artist and has been actively drawing for the past four yars. He usually draws potraits of peopl, sometimes on request and other times just because he feels like it. For Derek art is a way he escapes for the realities of like and find his true self. He believes that art is an expression of the heART!
                        </p>
                        <h5>Do you want to buy Derek's art? or Have him commission work for you?</h5>
                        <p>Contact him on </p>
                    </div>
                    <div class="col-md-8">
                        <h5>Paa's work</h5>
                        <img src="img/derek/12.jpg" class="esther">
                        <img src="img/derek/2.jpg" class="esther">
                        <img src="img/derek/3.jpg" class="esther">
                        <img src="img/derek/4.jpg" class="esther">
                        <img src="img/derek/9.jpg" class="esther">
                        <img src="img/derek/19.jpg" class="esther">
                    </div> 
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade modalsize" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <h4>Theopencil's Profile</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Theopencil</h5>
                        <img src="img/theo/theo1.jpg">
                        <p>
                            Theopencil is a young talented Ghanaian artist born on the 5th day of May1993 and lives in Accra Ghana. With no formal education in art work, his works has been viewed across the world with amazement and wonder. The realism of his drawings has capitivated many people. 

                            His real name is Theophilus Boateng Kwaku Sarpong but was given the name Theopencil by his friends because of the magic he performs with just a pencil. H e discovered his talent t age 8 when he used to draw cartoons for fun. Theo developed as a hyper realistic at age 17. His art speciality is mostly in human figures. He is good in color works but does his best work in pencil.

                            By age 21, Theopencil had drawn some notable figures like former UN Secretary General Kofi Annan, Former President of Ghana - J.A Kuffor, Current President of Ghana - John Dramani Mahama among others.

                            Theopencil is always drawing and it would be a great delight that the next pencil art work would be yours.
                        </p>
                        <h5>Do you want to buy Theo's art? or Have him commission work for you?</h5>
                        <p>Contact him on </p>
                    </div>
                    <div class="col-md-8">
                        <h5>Theo's work</h5>
                        <img src="img/theo/1.jpg" class="esther">
                        <img src="img/theo/2.jpg" class="esther">
                        <img src="img/theo/3.jpg" class="esther">
                        <img src="img/theo/4.jpg" class="esther">
                        <img src="img/theo/5.jpg" class="esther">
                        <img src="img/theo/6.jpg" class="esther">
                        <img src="img/theo/theo2.jpg" class="esther">
                    </div> 
                </div>
                </div>
            </div>
        </div>
    </div>
</template>